body {
    background: #222;
    color: white;
    text-align: center;
    font-family: Arial;
}

button {
    width: 200px;
    padding: 20px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background: #444;
    color: white;
    cursor: pointer;
}

    button:hover {
        background: #666;
    }
